//- Вкладка «Лом кабеля»

table.table.table-striped.table-hover
	thead 
		tr
			th.border-0(scope="col") 
				h3 Номенклатура
			th.border-0(scope="col" colspan="2") 
				div
					h3 Физические лица
					span.description Наличный расчёт
					.container.price-types
						.row 
							.col-6.px-0
								span Оптом
							.col-6.px-0
								span В&nbsp;розницу
			th.border-0(scope="col") 
				div
					h3 Юридические лица
					span.description Безналичный расчёт
	tbody
		tr 
			td.border-0
				span Медь кабель (силовой не в масле) за медь в сырье 40-50% (засор от 1%)
			td.border-0(colspan="2") 
				span 360 ₽
			td.border-0 
				span 365 ₽
		tr 
			td.border-0
				span Медь кабель (силовой не в масле) за медь в сырье 50-60% (засор от 1%)
			td.border-0(colspan="2")
				span 365 ₽
			td.border-0 
				span 370 ₽
		tr 
			td.border-0
				span Медь кабель (силовой не в масле) за медь в сырье от 60% (засор от 1%)
			td.border-0(colspan="2")
				span 365 ₽
			td.border-0 
				span 370 ₽
		tr 
			td.border-0
				span Медь телефонка (бумага) за выход сырья (засор от 1%)
			td.border-0(colspan="2")
				span 360 ₽
			td.border-0 
				span 365 ₽
		tr 
			td.border-0
				span Медь телефонка (бумага) + свинец за выход сырья (засор от 1%)
			td.border-0(colspan="2")
				span 360 ₽ / 105 ₽
			td.border-0 
				span 365 ₽ / 107 ₽
		tr 
			td.border-0
				span Медь кабель (медь + свинец) за выход сырья (засор от 1%)
			td.border-0(colspan="2")
				span 360 ₽ / 105 ₽
			td.border-0 
				span 365 ₽ / 107 ₽
		tr 
			td.border-0
				span Медь кабель (медь масло + свинец, засор от 1%) за выход сырья
			td.border-0(colspan="2")
				span 365 ₽ / 105 ₽
			td.border-0 
				span 370 ₽ / 107 ₽
		tr 
			td.border-0
				span Медь кабель (гофра) за медь в сырье (засор от 1%)
			td.border-0(colspan="2")
				span 350 ₽
			td.border-0 
				span 355 ₽
		tr 
			td.border-0
				span Медь кабель (силовой сложный, засор от 1%) за медь и свинец в сырье
			td.border-0(colspan="2")
				span 300 ₽ / 100 ₽
			td.border-0 
				span 305 ₽ / 102 ₽
		tr 
			td.border-0
				span Медь кабель (слаботочка однородная от 50%,засор от 1%) за медь в сырье
			td.border-0(colspan="2")
				span 345 ₽
			td.border-0 
				span 350 ₽
		tr 
			td.border-0
				span Медь кабель (слаботочка однородная 45-50%, засор от 1%) за вес кабеля
			td.border-0(colspan="2")
				span 148 ₽
			td.border-0 
				span 150 ₽
		tr 
			td.border-0
				span Медь кабель (слаботочка однородная 40-45%, засор от 1% ) за вес кабеля
			td.border-0(colspan="2")
				span 130 ₽
			td.border-0 
				span 132 ₽
		tr 
			td.border-0
				span Медь кабель (слаботочка однородная 35-40%, засор от 1%) за вес кабеля
			td.border-0(colspan="2")
				span 110 ₽
			td.border-0 
				span 112 ₽
		tr 
			td.border-0
				span Медь кабель (слаботочка однородная 30-35%, засор от 1%) за вес кабеля
			td.border-0(colspan="2")
				span 97 ₽
			td.border-0 
				span 99 ₽
		tr 
			td.border-0
				span Медь кабель (слаботочка микс/луженка, засор от 1%) за вес кабеля
			td.border-0(colspan="2")
				span 95 ₽
			td.border-0 
				span 97 ₽
		tr 
			td.border-0
				span Медь кабель (слаботочка не разделанная, засор от 30%)
			td.border-0(colspan="2")
				span 92 ₽
			td.border-0 
				span 94 ₽
		tr 
			td.border-0
				span Кабель алюминий силовой (AL+AL оболочка, засор от 1%) за выход сырья
			td.border-0(colspan="2")
				span 90 ₽ / 60 ₽
			td.border-0 
				span 92 ₽ / 62 ₽
		tr 
			td.border-0
				span Кабель алюминий силовой (AL + свинец оболочка, засор от 1%) за выход сырья
			td.border-0(colspan="2")
				span 90 ₽ / 100 ₽
			td.border-0 
				span 92 ₽ / 102 ₽
		tr 
			td.border-0
				span Кабель алюминий (слаботочка однородная от 40%, засор от 1%) за вес кабеля
			td.border-0(colspan="2")
				span 20 ₽
			td.border-0 
				span 21 ₽
		tr 
			td.border-0
				span Кабель алюминий (слаботочка микс до 40%, засор от 1%) за вес кабеля
			td.border-0(colspan="2")
				span 10 ₽
			td.border-0 
				span 11 ₽
		tr 
			td.border-0
				span Кабель алюминий силовой засор от 1%
			td.border-0(colspan="2")
				span 90 ₽
			td.border-0 
				span 92 ₽
		