//- Вкладка «Аккумуляторы»

table.table.table-striped.table-hover
	thead 
		tr
			th.border-0(scope="col") 
				h3 Номенклатура
			th.border-0(scope="col" colspan="2") 
				div
					h3 Физические лица
					span.description Наличный расчёт
					.container.price-types
						.row 
							.col-6.px-0
								span Оптом
							.col-6.px-0
								span В&nbsp;розницу
			th.border-0(scope="col" colspan="2") 
				div
					h3 Юридические лица
					span.description Безналичный расчёт
					.container.price-types
						.row 
							.col-6.px-0
								span Оптом
							.col-6.px-0
								span В&nbsp;розницу
	tbody
		tr 
			td.border-0
				span Аккумуляторы (гель, полипропилен)
			td.border-0 
				span 55 ₽
			td.border-0 
				span 50 ₽
			td.border-0 
				span 58,3 ₽
			td.border-0 
				span 53 ₽
		tr 
			td.border-0
				span Аккумуляторы (эбонит)
			td.border-0 
				span 40 ₽
			td.border-0 
				span 40 ₽
			td.border-0 
				span 42,4 ₽
			td.border-0 
				span 42,4 ₽