//- Вкладка «Никелевая группа»

table.table.table-striped.table-hover
	thead 
		tr
			th.border-0(scope="col") 
				h3 Номенклатура
			th.border-0(scope="col" colspan="2") 
				div
					h3 Физические лица
					span.description Наличный расчёт
					.container.price-types
						.row 
							.col-6.px-0
								span Оптом
							.col-6.px-0
								span В&nbsp;розницу
			th.border-0(scope="col") 
				div
					h3 Юридические лица
					span.description Безналичный расчёт
					.container.price-types
						.row 
							.col-12.px-0
								span Оптом и в розницу
	tbody
		tr 
			td.border-0
				span Нержавеющая сталь 
					br
					| габаритом 0,5х0,5х1,5 м, 10%
			td.border-0 
				span 55 ₽
			td.border-0 
				span 50 ₽
			td.border-0 
				span 60 ₽

		tr 
			td.border-0
				span Нержавеющая сталь негабаритная 10%
			td.border-0 
				span 55 ₽
			td.border-0 
				span 45 ₽
			td.border-0 
				span 60 ₽

		tr 
			td.border-0
				span Нержавеющая сталь 8% 
					br 
					| (в т. ч. негабаритная)
			td.border-0 
				span 50 ₽
			td.border-0 
				span 45 ₽
			td.border-0 
				span 53 ₽

		tr 
			td.border-0
				span Нержавеющая сталь 6%
			td.border-0 
				span 45 ₽
			td.border-0 
				span 40 ₽
			td.border-0 
				span 47 ₽