//- Вкладка «Свинцово-оловянная группа»

table.table.table-striped.table-hover
	thead 
		tr
			th.border-0(scope="col") 
				h3 Номенклатура
			th.border-0(scope="col" colspan="2") 
				div
					h3 Физические лица
					span.description Наличный расчёт
					.container.price-types
						.row 
							.col-6.px-0
								span Оптом
							.col-6.px-0
								span В&nbsp;розницу
			th.border-0(scope="col") 
				div
					h3 Юридические лица
					span.description Безналичный расчёт
	tbody
		tr 
			td.border-0
				span Свинец (оболочка кабеля) чистый
			td.border-0 
				span 110 ₽
			td.border-0 
				span 90 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Свинец (переплав) грязный
			td.border-0 
				span 100 ₽
			td.border-0 
				span 90 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Свинец (грузики)
			td.border-0 
				span 40 ₽
			td.border-0 
				span 40 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Цинк (карбюраторный, решётки)
			td.border-0 
				span 80 ₽
			td.border-0 
				span 50 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Цинк (карбюратор в сборе)
			td.border-0 
				span 80 ₽
			td.border-0 
				span 50 ₽
			td.border-0 
				span по запросу
		