//- Вкладка «Прочее»

table.table.table-striped.table-hover
	thead 
		tr
			th.border-0(scope="col") 
				h3 Номенклатура
			th.border-0(scope="col") 
				div
					h3 Физические лица
					span.description Наличный расчёт
			th.border-0(scope="col") 
				div
					h3 Юридические лица
					span.description Безналичный расчёт
	tbody
		tr 
			td.border-0
				span Платы электронные
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Платы материнские
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Платы периферии
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Катализаторы автомобильные
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Фосфоритная медь МФ9, МФ10
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Никель анод/катод
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Никельсодержащие Ni от 18 до 98%
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span АКБ щелочные (НК, ТНЖ от 5 кг банка)
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Медно-никелевый сплав МН20 — МН70
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Никель лом
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Х20Н80 (нихром)
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Титан марочный кусок (спец. требования)
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Титан лом / Титан 1-0
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Титан литьё, клёпка
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Титан стружка
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Вольфрам
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Вольфрам ВНЖ
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Вольфрам ВД, ВНД (W не менее 85%)
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Молибден
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span ВК ТК
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span ВК ТК (с пайкой)
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Сплав прецизионный 49КФ
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Сплав прецизионный 29НК
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span 24ЮНДК, ЮНДК35 (Магниты)
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Быстрорез Р18
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Быстрорез Р6М5
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Быстрорез Р9, P12
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Олово 01ПЧ
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Припой Пос 18-90% Sn
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Баббит Б-83
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Баббит Б-16
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Баббит Б-83 Брак (Sn от 80%, Pb до 1,5%)
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Баббит брак (Sn от 50%, Pb от 1,5%)
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Висмут
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Сурьма
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Сплав Вуда / Сплав Розе
			td.border-0
				span по запросу
			td.border-0
				span по запросу
		