//- Вкладка «Медно-латунная группа»

table.table.table-striped.table-hover
	thead 
		tr
			th.border-0(scope="col") 
				h3 Номенклатура
			th.border-0(scope="col" colspan="2") 
				div
					h3 Физические лица
					span.description Наличный расчёт
					.container.price-types
						.row 
							.col-6.px-0
								span Оптом
							.col-6.px-0
								span В&nbsp;розницу
			th.border-0(scope="col" colspan="2") 
				div
					h3 Юридические лица
					span.description Безналичный расчёт
					.container.price-types
						.row 
							.col-6.px-0
								span Оптом
							.col-6.px-0
								span В&nbsp;розницу
	tbody
		tr 
			td.border-0
				span Медь а1-1 (блеск)
			td.border-0 
				span 370 ₽
			td.border-0 
				span 350 ₽
			td.border-0 
				span 392,2 ₽
			td.border-0 
				span 371 ₽
		tr 
			td.border-0
				span Медь (шина)
			td.border-0 
				span 360 ₽
			td.border-0 
				span 345 ₽
			td.border-0 
				span 381,6 ₽
			td.border-0 
				span 365,7 ₽
		tr 
			td.border-0
				span Медь а1-2 (кусок)
			td.border-0 
				span 350 ₽
			td.border-0 
				span 340 ₽
			td.border-0 
				span 371 ₽
			td.border-0 
				span 360,4 ₽
		tr 
			td.border-0
				span Медь (разносорт.)
			td.border-0 
				span 340 ₽
			td.border-0 
				span 330 ₽
			td.border-0 
				span 360,4 ₽
			td.border-0 
				span 349,8 ₽
		tr 
			td.border-0
				span Латунь
			td.border-0 
				span 220 ₽
			td.border-0 
				span 200 ₽
			td.border-0 
				span 233,2 ₽
			td.border-0 
				span 212 ₽
		tr 
			td.border-0
				span Латунная стружка
			td.border-0 
				span 190 ₽
			td.border-0 
				span 160 ₽
			td.border-0 
				span 201,4 ₽
			td.border-0 
				span 169,6 ₽
		tr 
			td.border-0
				span Радиаторы медь/латунь
			td.border-0 
				span 230 ₽
			td.border-0 
				span 200 ₽
			td.border-0 
				span 243,8 ₽
			td.border-0 
				span 212 ₽
		tr 
			td.border-0
				span Бронза
			td.border-0 
				span 240 ₽
			td.border-0 
				span 220 ₽
			td.border-0 
				span 254,4 ₽
			td.border-0 
				span 233,2 ₽