//- Вкладка «Алюминиевая группа»

table.table.table-striped.table-hover
	thead 
		tr
			th.border-0(scope="col") 
				h3 Номенклатура
			th.border-0(scope="col" colspan="2") 
				div
					h3 Физические лица
					span.description Наличный расчёт
					.container.price-types
						.row 
							.col-6.px-0
								span Оптом
							.col-6.px-0
								span В&nbsp;розницу
			th.border-0(scope="col") 
				div
					h3 Юридические лица
					span.description Безналичный расчёт
	tbody
		tr 
			td.border-0
				span Алюминий 1-1 
					br 
					| (электротехнический)
			td.border-0 
				span 105 ₽
			td.border-0 
				span 85 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Алюминий 1-1 
					br
					| (пищевой)
			td.border-0 
				span 100 ₽
			td.border-0 
				span 75 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Алюминий АД-31 
					br 
					| (Профиль) чистый
			td.border-0 
				span 100 ₽
			td.border-0 
				span 80 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Алюминий АД-31 
					br
					| (Профиль) гразный
			td.border-0 
				span 90 ₽
			td.border-0 
				span 75 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Опалубка (засор по факту)
			td.border-0 
				span 85 ₽
			td.border-0 
				span 70 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Диски
			td.border-0 
				span 75 ₽
			td.border-0 
				span 60 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Алюминиевая банка
			td.border-0 
				span 55 ₽
			td.border-0 
				span 50 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Алюминий (разносортный)
			td.border-0 
				span 65 ₽
			td.border-0 
				span 50 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Алюминий моторка
			td.border-0 
				span 65 ₽
			td.border-0 
				span 50 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Алюминий офсет
			td.border-0 
				span 85 ₽
			td.border-0 
				span 70 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Алюминий радиаторы
			td.border-0 
				span 45 ₽
			td.border-0 
				span 35 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Алюминиевая стружка 
					br 
					| (засор от 5%)
			td.border-0 
				span 45 ₽
			td.border-0 
				span 35 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Электродвигатель (корпус алюминий)
			td.border-0 
				span 35 ₽
			td.border-0 
				span 35 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Электродвигатель (корпус чугун)
			td.border-0 
				span 30 ₽
			td.border-0 
				span 30 ₽
			td.border-0 
				span по запросу