//- Вкладка «Чёрный металл»

table.table.table-striped.table-hover
	thead 
		tr
			th.border-0(scope="col") 
				h3 Номенклатура
			th.border-0(scope="col" colspan="2") 
				div
					h3 Физические лица
					span.description Наличный расчёт
					.container.price-types
						.row 
							.col-6.px-0
								span Оптом
							.col-6.px-0
								span В&nbsp;розницу
			th.border-0(scope="col") 
				div
					h3 Юридические лица
					span.description Безналичный расчёт
	tbody
		tr 
			td.border-0
				span Чёрный металл
			td.border-0 
				span 14 ₽
			td.border-0 
				span 14 ₽
			td.border-0 
				span по запросу
		tr 
			td.border-0
				span Чугун
			td.border-0
				span 14 ₽
			td.border-0
				span 14 ₽
			td.border-0
				span по запросу
		tr 
			td.border-0
				span Лом автомобиля
			td.border-0
				span 13000 ₽ / тонна 
			td.border-0
				span 13000 ₽ / тонна 
			td.border-0
				span по запросу