@media screen and (max-width: 1200px)
	.geo 
		margin-left: 20px
		address 
			max-width: 20vw

	.social-icons
		margin-left: 40px

	.header-info 
		margin-left: 80px

	.whys ul li span 
		display: inline
		vertical-align: super


@media screen and (max-width: 992px)
	.header-info 
		margin-left: 24px

	.header 
		font-size: 14px

	.social-icons 
		img:nth-child(2), img:nth-child(3)
			margin-left: 12px

	.about-us 
		margin-top: 180px

	.process 
		ul 
			padding-left: 0
		
	.process ul li p 
		display: table-cell
		vertical-align: middle
		max-width: unset
		margin-left: 16px
		margin-bottom: 0
		text-align: left
		
	.process ul li img 
		margin-bottom: 0px

	.process ul li:not(:first-child):before 
		display: none

	.faq 
		svg 
			display: none

	.feedback-bottom
		img 
			object-fit: cover
			height: 100%

		button#bottom-feedback--submit
			width: auto
			margin-bottom: 40px

	.footer-indent
		margin-top: 0px

@media screen and (max-width: 768px) 
	.partners 
		.logo
			width: 20vw
			height: auto
		
@media screen and (max-width: 576px)

	h2 
		font-size: 32px

	.header
		.logo
			width: 160px
			height: auto
		.geo, .social-icons
			display: none !important

	.first-screen 
		h1 
			font-size: 32px
			text-align: center
			line-height: 40px !important

	.partners 
		img 
			width: 27vw

