section 
	.container-fluid.feedback-bottom
		.row 
			.col-12.px-0
				img.w-100(src="images/bg-feedback-bottom.jpg" alt="" title="")
				.container
					.row
						.col-12
							.content
								h2.text-center Оставьте заявку и мы вам перезвоним
								form.d-flex.justify-content-center#bottom-feedback(action="/mail" method="POST")
									.row
										.col
											.d-flex.flex-row
												input#bottom-feedback--name.form-control(type="text" name="Name" required placeholder="Имя")
												input#bottom-feedback--phone.form-control.inputmask(type="phone" name="Phone" required placeholder="Телефон")
										.col
											button.btn#bottom-feedback--submit(type="submit" form="bottom-feedback") Заказать