.footer-indent
	footer
		.container-fluid.footer
			.row 
				.col-12
					.container-xl
						.row 
							.col-12.col-md-4
								img(src="images/logo-white.svg" alt="" title="")
							.col-6.col-md-4.mt-5.mt-md-0
								h3 Информация
								nav
									ul 
										li 
											a(href="/about") О компании
										li 
											a(href="/services") Услуги
										li 
											a(href="/price") Прайс-лист
										li 
											a(href="/reviews") Отзывы
										li 
											a(href="/contacts") Контакты
							.col-6.col-md-4.mt-5.mt-md-0
								h3 Звоните круглосуточно
								ul 
									li 
										img(src="images/phone.svg")
										a(href="tel:88005505383") +7 (800) 550-53-83
									li 
										img(src="images/phone.svg")
										a(href="tel:89917777895") +7 (991) 777-78-95
						.row 
							.col-12 
								.copyright
									p.text-right Разработка и продвижение 
										a(href="https://lampweb.ru/" target="_blank") lampweb.ru