doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0", width=device-width)
		meta(http-equiv="X-UA-Compatible" content="ie=edge")

		meta(name="yandex-verification" content="4f189b90bc9292c3")

		meta(name="description" content=meta['description'])
		meta(name="keywords" content=meta['keywords'])

		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		meta(name="msapplication-config" content="/browserconfig.xml")
		meta(name='theme-color', content='#ffffff')

		link(rel='apple-touch-icon', sizes='57x57', href='images/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='images/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='images/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='images/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='images/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='images/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='images/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='images/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='images/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='images/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='images/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
		link(rel='manifest', href='/manifest.json')

		link(rel="stylesheet", href="css/styles.min.purged.css")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")
		
		if (link != 'about') 
			link(rel="prerender" href="/about")
		if (link != 'services')
			link(rel="prerender" href="/services")
		if (link != 'price')
			link(rel="prerender" href="/price")
		if (link != 'reviews')
			link(rel="prerender" href="/reviews")
		if (link != 'contacts')
			link(rel="prerender" href="/contacts")

		title= meta['title']
	body
		header
			.container-xl.header
				.row
					.col-12.d-flex.justify-content-center.align-items-center.mt-4.px-lg-0
						a(href="/") 
							img.logo(src="images/logo-black.svg" alt="logo" title="Логотип")
						.geo.d-flex.align-items-center
							img(src="images/geospin.svg")
							address Московская&nbsp;область, 
								br
								| п.&nbsp;Новоивановское, Можайское&nbsp;шоссе&nbsp;166
						.social-icons.d-flex.align-items-center
							a(href="https://api.whatsapp.com/send?phone=+79917777895&text=Здравствуйте! Пишу вам с сайта skupka-metalloloma.com" target="_blank")
								img(src="images/whatsapp.svg" alt="WhatsApp" title="Напишите нам в WhatsApp")
							a(href="viber://chat?number=%2B79917777895")
								img(src="images/viber.svg" alt="Viber" title="Напишите нам в Viber")
							//- img(src="images/telegram.svg" alt="Telegram" title="")
						.header-info.text-right
							img(src="images/phone.svg" alt="phone" title="Звоните круглосуточно")
							a(href="tel:88005505383") +7 (800) 550-53-83
							br
							span с 09:00 до 21:00 без&nbsp;выходных
					.col-12.d-md-none.mt-3.mt-md-0
						.d-flex.justify-content-center.align-items-center
							a.mx-2(href="https://api.whatsapp.com/send?phone=+79917777895&text=Здравствуйте! Пишу вам с сайта skupka-metalloloma.com" target="_blank")
								img(src="images/whatsapp.svg" alt="WhatsApp" title="Напишите нам в WhatsApp")
							a.mx-2(href="viber://chat?number=%2B79917777895")
								img(src="images/viber.svg" alt="Viber" title="Напишите нам в Viber")
		include nav