nav
	.container-xl
		.row 
			.col-12.nav.d-lg-flex.justify-content-sm-center.justify-content-xl-start.pl-xl-4
				ul 
					li 
						if link == 'about'
							a.active-link(href="#" title="О компании") О компании
						else 
							a(href="/about" title="О компании") О компании
					li 
						if link == 'services'
							a.active-link(href="#" title="Услуги") Услуги
						else 
							a(href="/services" title="Услуги") Услуги
					li 
						if link == 'price'
							a.active-link(href="#" title="Прайс-лист") Прайс-лист
						else 
							a(href="/price" title="Прайс-лист") Прайс-лист
					li 
						if link == 'reviews'
							a.active-link(href="#" title="Отзывы") Отзывы
						else 
							a(href="/reviews" title="Отзывы") Отзывы
					li 
						if link == 'contacts'
							a.active-link(href="#" title="Контакты") Контакты
						else 
							a(href="/contacts" title="Контакты") Контакты