.container-md
	nav.navbar.navbar-expand-md.navbar-light.px-0.d-flex.justify-content-end
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav")
			span.navbar-toggler-icon
		.collapse.navbar-collapse#navbarNav
			ul.navbar-nav
				if link == 'about'
					li.nav-item.active.text-right
						a.nav-link(href="#") О компании
				else
					li.nav-item.text-right
						a.nav-link(href="/about") О компании

				if link == 'services'
					li.nav-item.active.text-right
						a.nav-link.text(href="#") Услуги
				else
					li.nav-item.text-right
						a.nav-link.text(href="/services") Услуги

				if link == 'price'
					li.nav-item.active.text-right
						a.nav-link.text(href="#") Прайс-лист
				else
					li.nav-item.text-right
						a.nav-link.text(href="/price") Прайс-лист

				if link == 'reviews'
					li.nav-item.active.text-right
						a.nav-link.text(href="#") Отзывы
				else
					li.nav-item.text-right
						a.nav-link.text(href="/reviews") Отзывы

				if link == 'contacts'
					li.nav-item.active.text-right
						a.nav-link.text(href="#") Контакты
				else
					li.nav-item.text-right
						a.nav-link.text(href="/contacts") Контакты