.container-md
	nav.navbar.navbar-expand-md.navbar-light.px-0.d-flex
		.navbar-brand.d-md-none 
			a.mr-4(href="https://api.whatsapp.com/send?phone=+79917777895&text=Здравствуйте! Пишу вам с сайта skupka-metalloloma.com" target="_blank")
				img.w-50(src="images/whatsapp.svg" alt="WhatsApp" title="Напишите нам в WhatsApp")
			a(href="viber://chat?number=%2B79917777895")
				img.w-50(src="images/viber.svg" alt="Viber" title="Напишите нам в Viber")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav")
			span.navbar-toggler-icon
		.collapse.navbar-collapse#navbarNav
			ul.navbar-nav
				if link == 'about'
					li.nav-item.active.text-right
						a.nav-link(href="#") О компании
				else
					li.nav-item.text-right
						a.nav-link(href="/about") О компании

				if link == 'services'
					li.nav-item.active.text-right
						a.nav-link.text(href="#") Услуги
				else
					li.nav-item.text-right
						a.nav-link.text(href="/services") Услуги

				if link == 'price'
					li.nav-item.active.text-right
						a.nav-link.text(href="#") Прайс-лист
				else
					li.nav-item.text-right
						a.nav-link.text(href="/price") Прайс-лист

				if link == 'reviews'
					li.nav-item.active.text-right
						a.nav-link.text(href="#") Отзывы
				else
					li.nav-item.text-right
						a.nav-link.text(href="/reviews") Отзывы

				if link == 'contacts'
					li.nav-item.active.text-right
						a.nav-link.text(href="#") Контакты
				else
					li.nav-item.text-right
						a.nav-link.text(href="/contacts") Контакты