include header

section
	.container-fluid
		.row
			.col-12.px-0.first-screen
				img.w-100(src="images/bg.jpg" alt="" title="")
				.container
					.row
						.col-12.px-0
							.d-flex.justify-content-between.align-items-center
								h1 О компании
								.col-4.feedback
									h2.text-center Обратный звонок
									form(action="#").d-flex.flex-column.justify-content-center
										.form-group
											input.form-control(type="text" placeholder="Имя" required)
											input.form-control(type="phone" placeholder="Телефон" required)
										button(type="submit") Отправить
										
	section
		.container.about
			.row 
				.col-12 
					h2.about--heading О компании
			.row 
				.d-flex.align-items-center
					.col-6 
						p ООО «Стандарт» — динамичная, уверенно развивающаяся компания на рынке металлического приема вторсырья. 
							| Основное&nbsp;направление деятельности — прием металлолома, заготовка, переработка и реализация лома чёрных и цветных металлов. 
							| Мы&nbsp;покупаем как черный лом — сталь, чугун, арматура так и цветной лом — медь, латунь, бронзу, алюминий, свинец, АКБ&nbsp;и&nbsp;другие.
					.col-6 
						img(src="images/a1.png")
			.row 
				.col-12.mt-5
					p Цветной&nbsp;металл — отрасль металлургии, которая включает добычу, обогащение руд цветных металлов и&nbsp;выплавку цветных металлов и их сплавов. 
						| По&nbsp;физическим свойствам и назначению цветные металлы условно можно разделить на тяжёлые (медь, свинец, цинк, олово,&nbsp;никель) и&nbsp;лёгкие (алюминий, титан,&nbsp;магний). 
						| На&nbsp;основании этого деления различают металлургию лёгких металлов и металлургию тяжёлых металлов.
					p Металлолом&nbsp;—&nbsp;это различный металлический мусор. Различают черный лом, цветной лом и&nbsp;драгоценный лом. 
						| На&nbsp;протяжении всего своего существования мы&nbsp;уверенно развиваем свою деятельность в&nbsp;сфере сбора, хранения 
						| и&nbsp;переработки вторичного металлического сырья. За&nbsp;эти&nbsp;годы мы&nbsp;смогли заработать репутацию честной, открытой 
						| и&nbsp;успешной организации.
			.row.mt-5 
				.d-flex.align-items-center
					.col-6
						img(src="images/a2.png")
					.col-6 
						p Также выполняем демонтаж конструкций, в&nbsp;том&nbsp;числе опасных и&nbsp;требующих осторожного обращения. 
							| Вывоз&nbsp;различных видов лома: кусковых, негабаритных, требующих применения спецтехники, лом&nbsp;меди, лом&nbsp;алюминия, черный&nbsp;лом. 
							| Наши&nbsp;сотрудники разбирают металлоконструкции любого уровня сложности. 
							| На&nbsp;первом месте у&nbsp;нас всегда соблюдение ваших интересов. Мы&nbsp;заботимся о&nbsp;том, чтобы экологичность и&nbsp;безопасность была выдержана в&nbsp;соответствии со&nbsp;всеми&nbsp;нормами.
			.row.mt-5 
				.col-12 
					p Высокий профессионализм сотрудников и хорошая техническая оснащенность — гарантия качества и&nbsp;оперативности всех видов работ. 
						| Наши&nbsp;специалисты в&nbsp;короткие сроки освободят ваши складские или производственные площади от&nbsp;пришедших в&nbsp;негодность металлических&nbsp;объектов. 
						| Сдать&nbsp;металлолом вы&nbsp;сможете на&nbsp;наших пунктах приема цветного и&nbsp;черного&nbsp;металла.

		include cta
		include footer

include scripts