include components/header
include components/mixin_first-screen

+first-screen('О компании')
										
section
	.container.about
		.row 
			.col-12 
				h1.about--heading Прием лома черных и&nbsp;цветных металлов, сдать металлолом в&nbsp;Москве и&nbsp;Московской области
		.row 
			.col-12
				p 
					picture 
						source.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(type="image/webp", srcset="images/a1.webp")
						source.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(type="image/jpeg", srcset="images/a1.jpg")
						img.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(src="images/a1.jpg")
					| ООО &laquo;Стандарт&raquo;&nbsp;&ndash; это пункт приема лома черного и&nbsp;цветного металла, который осуществляет вывоз по&nbsp;всей Москве и&nbsp;Московской области. У&nbsp;нас можно сдать металлолом в&nbsp;Москве и&nbsp;Московской области действительно дорого.
					| Мы&nbsp;сотрудничаем напрямую с&nbsp;металл перерабатывающими заводами, а, значит, мы&nbsp;можем предложить очень выгодные для Вас цены на&nbsp;прием металлолома.
		.row 
			.col-12.mt-5.px-md-3
				p Цветной&nbsp;металл&nbsp;— отрасль металлургии, которая включает добычу, обогащение руд цветных металлов и&nbsp;выплавку цветных металлов и&nbsp;их&nbsp;сплавов. 
					| По&nbsp;физическим свойствам и&nbsp;назначению цветные металлы условно можно разделить на&nbsp;тяжёлые (медь, свинец, цинк, олово,&nbsp;никель) и&nbsp;лёгкие (алюминий, титан,&nbsp;магний). 
					| На&nbsp;основании этого деления различают металлургию лёгких металлов и&nbsp;металлургию тяжёлых&nbsp;металлов.
				p Металлолом&nbsp;—&nbsp;это различный металлический&nbsp;мусор. Различают черный лом, цветной лом и&nbsp;драгоценный лом. 
					| На&nbsp;протяжении всего своего существования мы&nbsp;уверенно развиваем свою деятельность в&nbsp;сфере сбора, хранения 
					| и&nbsp;переработки вторичного металлического&nbsp;сырья. За&nbsp;эти&nbsp;годы мы&nbsp;смогли заработать репутацию честной, открытой 
					| и&nbsp;успешной&nbsp;организации.
		.row.mt-5
			.col-12
				p.mt-5.mt-md-0 
					picture 
						source.float-left.w-50.d-none.d-md-block.mr-md-3.mb-md-2.mr-0.mb-0(type="image/webp" srcset="images/a2.webp")
						source.float-left.w-50.d-none.d-md-block.mr-md-3.mb-md-2.mr-0.mb-0(type="image/jpeg" srcset="images/a2.jpg")
						img.float-left.w-50.d-none.d-md-block.mr-md-3.mb-md-2.mr-0.mb-0(src="images/a2.jpg")
					| Также&nbsp;выполняем демонтаж конструкций, в&nbsp;том&nbsp;числе опасных и&nbsp;требующих осторожного&nbsp;обращения. 
					| Вывоз&nbsp;различных видов лома: кусковых, негабаритных, требующих применения спецтехники, лом&nbsp;меди, лом&nbsp;алюминия, черный&nbsp;лом. 
					| Наши&nbsp;сотрудники разбирают металлоконструкции любого уровня&nbsp;сложности. 
					| На&nbsp;первом месте у&nbsp;нас всегда соблюдение ваших&nbsp;интересов. Мы&nbsp;заботимся о&nbsp;том, чтобы экологичность и&nbsp;безопасность была выдержана в&nbsp;соответствии со&nbsp;всеми&nbsp;нормами.
		.row.mt-5 
			.col-12.px-md-3
				p Высокий&nbsp;профессионализм сотрудников и&nbsp;хорошая техническая оснащенность&nbsp;— гарантия качества и&nbsp;оперативности всех видов работ. 
					| Наши&nbsp;специалисты в&nbsp;короткие сроки освободят ваши складские или производственные площади от&nbsp;пришедших в&nbsp;негодность металлических&nbsp;объектов. 
					| Сдать&nbsp;металлолом вы&nbsp;сможете на&nbsp;наших пунктах приема цветного и&nbsp;черного&nbsp;металла.
				p Мы&nbsp;делаем все для того, чтобы сдача металлолома в&nbsp;наш пункт приема была максимально проста и&nbsp;выгодна, поэтому у&nbsp;нас возможны:
					ul 
						li 
							span экспресс-оценка металлолома;
						li 
							span оперативный и профессиональный демонтаж металлоконструкций;
						li 
							span сортировка и вывоз лома.
				p Мы&nbsp;возьмем на&nbsp;себя всю подготовку, демонтаж и&nbsp;транспортировку лома, для этого просто свяжитесь с&nbsp;нами по&nbsp;указанному контактному телефону или оформите заявку с&nbsp;помощью формы.
				p Мы&nbsp;поможем Вам не&nbsp;только избавиться от&nbsp;ненужного, но&nbsp;и&nbsp;заработать деньги!


	include components/cta
	include components/footer

include components/scripts