include components/header

include components/mixin_first-screen.pug

+first-screen('Контакты')

section
	.container.address
		.row 
			.col-12.px-0
				h2 Контакты
		.row.d-flex.align-items-center
			.col-6.px-0
				.address--map
					//- script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab3cde61a32b3b52913f23d547f2cdbe40f019313d723d51c8811e5b2b7c04cfd&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
					iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab3cde61a32b3b52913f23d547f2cdbe40f019313d723d51c8811e5b2b7c04cfd&amp;source=constructor" width="500" height="400" frameborder="0")
			.col-6.px-0
				.address--info
					.location
						h3 Расположение
						.d-flex.flex-row
							img(src="images/geospin.svg")
							address Московская обл., п. Новоивановское, 
								br 
								| Можайское шоссе, вл. 166
					.phones
						h3 Телефоны
						ul
							li
								a(href="tel:88005505383") +7 (800) 550-53-83
							li
								a(href="89917777895") +7 (991) 777-78-95
							li
								a(href="89263717218") +7 (926) 371-72-18
					.email
						h3 E-mail
						.d-flex.flex-row
							img(src="images/mail.svg" alt="" title="")
							a(href="mailto:standart-lom@inbox.ru") standart-lom@inbox.ru
					.navigators
						h3 Ссылки для навигаторов
						.d-flex.justify-content-start
							a(href="https://tinyurl.com/w9dhw6y" target="_blank") Яндекс.Карты
							a(href="https://tinyurl.com/ttzck6s" target="_blank") Google Maps

include components/cta
include components/footer

include components/scripts 