include header
body
	section
		.container
			.row
				.col-12.d-flex.align-items-center.mt-4.px-0.header
					img(src="images/logo-black.svg" alt="logo" title="Логотип")
					.geo.d-flex.align-items-center
						img(src="images/geospin.svg")
						span Московская&nbsp;область, 
							br
							| п.&nbsp;Новоивановское, Можайское&nbsp;шоссе&nbsp;166
					.social-icons.d-flex.align-items-center
						img(src="images/whatsapp.svg" alt="WhatsApp" title="")
						img(src="images/viber.svg" alt="Viber" title="")
						img(src="images/telegram.svg" alt="Telegram" title="")
					.header-info.text-right
						img(src="images/phone.svg" alt="phone" title="Звоните круглосуточно")
						span +7 (800) 550-53-83
						br
						span с 09:00 до 21:00 без выходных
	nav
		.container 
			.row 
				.col-12.nav
					ul 
						li 
							a(href="#" title="О компании") О компании
						li 
							a(href="#" title="Прайс-лист") Прайс-лист
						li 
							a(href="#" title="Отзывы") Отзывы
						li 
							a(href="#" title="Контакты") Контакты

	section
		.container
			.row
				.col-12.px-0
					img.w-100(src="images/bg.jpg")