include components/header
include components/mixin_tab

section.upper-advantages
	.container-fluid
		.row 
			.col-12
				.container
					.row 
						.col-12.px-0.d-inline-flex.align-items-center.justify-content-center
							ul
								li.d-inline-flex.align-items-center
									img(src="images/upper-1.svg" alt="")
									span Наличный и&nbsp;безналичный расчёт
								li.d-inline-flex.align-items-center
									img(src="images/upper-2.svg" alt="")
									span Свой автопарк
								li.d-inline-flex.align-items-center
									img(src="images/upper-3.svg" alt="")
									span Самовывоз
								li.d-inline-flex.align-items-center
									img(src="images/upper-4.svg" alt="")
									span Демонтаж
section
	.container-fluid
		.row
			.col-12.px-0.first-screen
				picture
					source.w-100(type="image/webp" srcset="images/bg.webp")
					source.w-100(type="image/jpeg" srcset="images/bg.jpg")
					img.w-100(src="images/bg.jpg" alt="" title="")
				.container
					.row
						.col-12.col-lg-7.px-0.d-flex.flex-column.align-items-center.d-sm-block
							h1 Прием черного и&nbsp;цветного металлолома в&nbsp;Москве, Одинцово и&nbsp;Одинцовском&nbsp;районе
							button.first-screen--cta(type="button") Отправить заявку на вывоз
						.offset-lg-1.col-4.px-0.d-none.d-lg-block
							.feedback
								h2.text-center Обратный звонок
								form(action="#").d-flex.flex-column.justify-content-center
									.form-group
										input.form-control#first-screen--name(type="text" placeholder="Имя" required)
										input.form-control#first-screen--phone.inputmask(type="phone" placeholder="Телефон" required)
									button#first-screen--submit(type="submit") Отправить

section
	.container.about-us
		.row
			.col-12
				h2 О нас
		.row
			.col-12.col-lg-7
				p Наша&nbsp;компания предлагает сдать металлолом в&nbsp;динцово по&nbsp;выгодной&nbsp;цене. 
					| В&nbsp;компании уже&nbsp;не&nbsp;один год функционирует отлаженный алгоритм, обеспечивающий выгодный, для&nbsp;оптовых&nbsp;и&nbsp;розничных поставщиков, 
					| прием металлолома в&nbsp;Одинцово, Москве&nbsp;и&nbsp;Московской&nbsp;области.
				p Если&nbsp;вы&nbsp;выбираете, куда сдать металлолом в&nbsp;Одинцово, цена за&nbsp;кг&nbsp;в&nbsp;месте приема немаловажна. 
					| Мы&nbsp;сотрудничаем с&nbsp;клиентами без&nbsp;посредников и&nbsp;комиссий, что&nbsp;позволяет выплачивать достойные суммы по&nbsp;объективной стоимости металлолома на&nbsp;рынке.
			.col-lg-5.d-none.d-lg-block
				img.w-100(src="images/pic1.jpg" alt="" title="")

section
	.container.advantages
		.row
			.col-12
				h2 Преимущества компании
		.row 
			.col-6.col-md-3
				.d-flex.flex-column.justify-content-center.align-items-center
					img(src="images/call.svg" alt="" title="")
					p.text-center Всегда на связи по телефону, email и&nbsp;мессенджерах
			.col-6.col-md-3
				.d-flex.flex-column.justify-content-center.align-items-center
					img(src="images/accuracy.svg" alt="" title="")
					p.text-center Точные показания весов
			.col-6.col-md-3
				.d-flex.flex-column.justify-content-center.align-items-center
					img(src="images/coins.svg" alt="" title="")
					p.text-center Конкурентная цена
			.col-6.col-md-3
				.d-flex.flex-column.justify-content-center.align-items-center
					img(src="images/box.svg" alt="" title="")
					p.text-center Вывоз лома

section
	.container.whys
		.row
			.col-12 
				h2 Почему мы
		.row 
			.col-12
				ul
					li 
						span Сдаём металл напрямую заводам, за&nbsp;счёт чего получаем максимально выгодные цены на&nbsp;все&nbsp;виды чёрных и&nbsp;цветных металлов
					li 
						span Взвешиваем металлолом на&nbsp;своей базе с&nbsp;использованием высокоточных опломбированных весов
					li 
						span Демонтируем металлоконструкции с&nbsp;применением резки
					li 
						span Работаем по&nbsp;лицензии, так&nbsp;мы&nbsp;можем официально оформить весь поступающий металл
					li 
						span Бесплатный самостоятельный вывоз металла в&nbsp;Москве и&nbsp;Московской области

section 
	.container.license 
		.row 
			.col-12 
				h2 Лицензии 
		.row.d-flex.align-items-center 
			.col-md-6.col-12
				p Наш пункт приема металлолома работает по лицензии, что&nbsp;позволяет нам официально оформлять весь поступающий к&nbsp;нам&nbsp;металл. Принимаем лом как у&nbsp;частных лиц, так&nbsp;и&nbsp;у&nbsp;предприятий.
					br
					| Возможна работа по&nbsp;договору как&nbsp;в&nbsp;разовом, так&nbsp;и&nbsp;в&nbsp;постоянном&nbsp;формате.
			
			.col-md-6.col-12.d-inline-flex.mt-4.mt-md-0
				.col-6
					a(data-fancybox="licenses" href="images/li1.jpg")
						img.w-100(src="images/li1_small.jpg" alt="" title="")
				.col-6
					a(data-fancybox="licenses" href="images/li2.jpg")
						img.w-100(src="images/li2_small.jpg" alt="" title="")

section
	.container-xl.partners 
		.row 
			.col-12
				h2 Партнёры
		.row 
			.col-12.offset-lg-2.col-lg-8
				.d-flex.justify-content-between.mt-4
					img(src="images/mservice-logo.svg" alt="" title="")
					img(src="images/nornickel-logo.svg", alt="" title="")
					img(src="images/tsvetmet-logo.svg", alt="")

section
	.container-xl.process
		.row 
			.col-12 
				h2 Процесс работы 
		.row 
			.col-12
				ul.d-flex.flex-lg-row.flex-column.justify-content-start.align-items-start.ml-3.ml-sm-5.ml-lg-0
					li
						.d-flex.flex-lg-column.justify-content-lg-center.align-items-lg-center.justify-content-start.align-items-center.mb-3.md-md-0
							img(src="images/step1.svg" alt="" title="")
							p Оформите заявку по телефону или через форму на&nbsp;сайте
					li
						.d-flex.flex-lg-column.justify-content-lg-center.align-items-lg-center.justify-content-start.align-items-center.mb-3.md-md-0
							img(src="images/step2.svg" alt="" title="")
							p Обсуждаем условия и&nbsp;цену 
					li
						.d-flex.flex-lg-column.justify-content-lg-center.align-items-lg-center.justify-content-start.align-items-center.mb-3.md-md-0
							img(src="images/step3.svg" alt="" title="")
							p К вам приезжают наши сотрудники и&nbsp;необходимая техника
					li
						.d-flex.flex-lg-column.justify-content-lg-center.align-items-lg-center.justify-content-start.align-items-center.mb-3.md-md-0
							img(src="images/step4.svg" alt="" title="")
							p Демонтируем, режем, грузим
					li
						.d-flex.flex-lg-column.justify-content-lg-center.align-items-lg-center.justify-content-start.align-items-center.mb-3.md-md-0
							img(src="images/step5.svg" alt="" title="")
							p Взвешиваем и&nbsp;оплачиваем

section 
	.container-xl.faq
		.row 
			.col-12 
				h2 Часто задаваемые вопросы
		.row 
			.col-12.col-md-6
				ul
					+Tab('tab1', 'Где происходит приём металлолома?', 'checked')
					+Tab('tab2', 'Почему с нами удобно работать?')
					+Tab('tab3', 'Есть ли у вас бесплатный вывоз металлолома?')
					+Tab('tab4', 'Работаете ли вы в Подмосковье?')
					+Tab('tab5', 'Как определяется стоимость металла?')
			.col-12.col-md-6
				.tab-content
					h3 Где происходит приём металлолома?
					p Прием металлолома происходит в&nbsp;пунктах приёма Москвы&nbsp;и&nbsp;Московской области. Наш адрес:&nbsp;Московская обл. пос.&nbsp;Новоивановское, Можайское шоссе, вл.&nbsp;166

section
	.container-xl.rate-scrap
		.row 
			.col-12 
				h2.text-center Оценим лом за&nbsp;5&nbsp;минут
		.row 
			.col-md-10.offset-md-1.col-12
				p.text-center Отправьте нам фотографию вашего лома&nbsp;и&nbsp;мы&nbsp;оценим примерный вес&nbsp;и&nbsp;стоимость&nbsp;и&nbsp;ответим вам&nbsp;в&nbsp;течение&nbsp;5&nbsp;минут
		.row
			.col-12
				.d-flex.flex-column.align-items-center
					form#feedback-with-images(action="/mail" method="POST" enctype="multipart/form-data")
						.form-group.d-flex.flex-column
							label.text-left(for="phone") Телефон
							input#rate-phone.form-control.inputmask(type="text" name="phone" placeholder="+7 (999) 999-99-99" required)
						.form-group
							.file-input.d-flex.flex-column
								input(type="file" accept=".png, .jpg, .jpeg, .bmp, .webp")
								span.label.text-center(data-js-label) ...
								span.button.mt-2.d-flex.align-items-center.justify-content-center
									svg(aria-hidden="true" data-prefix="fas" data-icon="upload" class="svg-inline--fa fa-upload fa-w-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
										path(d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z")
									span Загрузить фото
							
						.d-flex.justify-content-center
							button.btn.rate-scrap--submit(type="submit" form="feedback-with-images") Отправить

section
	.container-xl.address
		.row 
			.col-12.px-lx-0
				h2 Адрес пункта приёма
		.row.d-flex.align-items-center
			.col-12.col-lg-6.d-flex.justify-content-center.px-0
				.address--map
					//- script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab3cde61a32b3b52913f23d547f2cdbe40f019313d723d51c8811e5b2b7c04cfd&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true")
					iframe.w-100(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab3cde61a32b3b52913f23d547f2cdbe40f019313d723d51c8811e5b2b7c04cfd&amp;source=constructor" width="500" height="400" frameborder="0")
			.col-12.col-lg-6.col-6.mt-5.mt-xl-0.d-flex.justify-content-center
				.address--info
					.location
						h3 Расположение
						.d-flex.flex-row
							img(src="images/geospin.svg")
							address Московская обл., п. Новоивановское, 
								br 
								| Можайское шоссе, вл. 166
					.phones
						h3 Телефоны
						ul
							li
								a(href="tel:88005505383") +7 (800) 550-53-83
							li
								a(href="89917777895") +7 (991) 777-78-95
							li
								a(href="89263717218") +7 (926) 371-72-18
					.email
						h3 E-mail
						.d-flex.flex-row
							img(src="images/mail.svg" alt="" title="")
							a(href="mailto:standart-lom@inbox.ru") standart-lom@inbox.ru
					.navigators
						h3 Ссылки для навигаторов
						.d-flex.justify-content-start
							a(href="https://tinyurl.com/w9dhw6y" target="_blank") Яндекс.Карты
							a(href="https://tinyurl.com/ttzck6s" target="_blank") Google Maps

include components/cta
include components/footer
include components/modal

include components/scripts
script(src="js/modal.js")