nav
	.container 
		.row 
			.col-12.nav
				ul 
					li 
						a(href="/about" title="О компании") О компании
					li 
						a(href="#" title="Услуги") Услуги
					li 
						a(href="#" title="Прайс-лист") Прайс-лист
					li 
						a(href="#" title="Отзывы") Отзывы
					li 
						a(href="/contacts" title="Контакты") Контакты