include components/header
include components/mixin_reviews--item

include components/mixin_first-screen.pug

+first-screen('Отзывы')
								
section
	.container.reviews
		.row 
			.col-12 
				h2.about--heading Отзывы
		.row 
			+reviews--item('Конопалов Ф. С.', 'Не знали, как вывезти и сдать скопившийся во дворе металлолом. Не хотелось тратить деньги на грузовое такси и нанимать грузчиков. После звонка в компанию все вопросы решились моментально. Приехали сотрудники с инструментом, оборудованием и сами выполнили порезку и погрузку. Увезли весь металл своим транспортом.', '40 августа 2012')
			+reviews--item('Конопалов Ф. С.', 'Приятно, что за время нашего постоянного сотрудничества, компания не раз делала выгодные предложения. Даже не собираемся менять их на кого-то другого, уже не раз убедились в их профессионализме. Молодцы!', '40 августа 2012')
			+reviews--item('Конопалов Ф. С.', 'Сравнивали цены компании с другими точками и пунктами приема металлолома — здесь выгоднее всего. Ребята молодцы, высокий сервис обслуживания и всегда готовы идти навстречу в разных вопросах.', '40 августа 2012')
			+reviews--item('Конопалов Ф. С.', 'Нужно было сразу навести порядок на участке, убрать кучу всякого железного хлама. Приехали ребята, все быстро демонтировали взвесили на электронных весах и погрузили. Работают быстро и четко, то что нужно.', '40 августа 2012')
			+reviews--item('Конопалов Ф. С.', 'Отличная компания, на сайте представлены все расценки на лом. Работают хорошо, берутся за любой демонтаж! Все демонтировали, взвесили на электронных весах, деньги отдали сразу.', '40 августа 2012')
			+reviews--item('Конопалов Ф. С.', 'Спасибо за помощь в демонтаже и вывозе металлолома. Необходимо было расчистить и вывезти достаточно большие объемы. Коллеги порекомендовали обратиться сюда. Цены здесь выше, чем в других местах, и принимают металл без жульничества.', '40 августа 2012')
			+reviews--item('Конопалов Ф. С.', 'Вызывали ребят из этой компании когда нужно было избавиться от старого железного гаража и еще от кое-каких конструкций на даче. Приехали в назначенное время, со своей техникой и оборудованием, все порезали и вывезли, работают профессионально, взвешивали на электронных весах, суммой за лом остались довольны', '40 августа 2012')
			+reviews--item('Конопалов Ф. С.', 'Пункт приема находится в удобном для меня месте, поэтому регулярно сдаю здесь металлолом. Принимают черный и цветной лом всех видов по нормальной цене. При оценке к состоянию металла не придираются, взвешивают на проверенных весах. Рассчитываются сразу.', '40 августа 2012')
			+reviews--item('Конопалов Ф. С.', 'Сдавал недавно металлолом в данную приемку. Остался всем очень доволен, завесили быстро и оплатили сразу же на месте без каких-либо задержек.', '40 августа 2012')
			+reviews--item('Конопалов Ф. С.', 'Недавно привозили груду металлолома, пункты приема работают оперативно. При взвешивании не обманывают, цена за лом хорошая. Рекомендую!', '40 августа 2012')
			+reviews--item('Конопалов Ф. С.', 'Приятно иметь дело с честной компанией. Сделали выгодное предложение. Помогли в расчете работ. Качественно и оперативно произвели демонтаж гаражей.', '40 августа 2012')

include components/cta 
include components/footer 

include components/scripts