include components/header
include components/mixin_first-screen

+first-screen('Услуги')

section.services
	.container
		.row 
			.col-12
				h2 Услуги
		.row 
			.col-12
				p 
					img.w-50.services--img.float-right(src="images/a1.png", alt="", title="")
					| Демонтаж и вывоз металлолома – востребованная услуга в&nbsp;сфере промышленности и&nbsp;бизнеса.  Она&nbsp;требует высокого профессионализма, ответственности и&nbsp;внимательности. 
					| Демонтаж металлолома включает в&nbsp;себя работу с&nbsp;конструкциями любого&nbsp;типа. 
					| В&nbsp;процессе выполнения задачи используется тяжелая техника, поэтому важен опыт оператора, который осуществляет демонтаж и&nbsp;вывоз&nbsp;металла.
				p Компания «Стандарт» готова выполнить задачи любой сложности на&nbsp;«отлично». 
					| Демонтаж&nbsp;металлоконструкций осуществляется нашими специалистами с&nbsp;высокой скоростью и&nbsp;соблюдением требований&nbsp;безопасности. 
					| Каждый&nbsp;сотрудник имеет все&nbsp;необходимые допуски. Работа&nbsp;выполняется качественно и&nbsp;аккуратно. Поэтому&nbsp;в&nbsp;дальнейшем возможна сдача металлолома в&nbsp;пункты&nbsp;приема. 
					| Но,&nbsp;как вариант,&nbsp;какие-то детали можно использовать в&nbsp;производстве.
		.row 
			.col-12
				h3.services--types-heading Виды услуг
			.col-12 
				ol.services--types
					li 
						span Демонтаж любых сооружений с гарантией безопасности
					li 
						span Разбор здания или конструкций для повторного использования деталей предприятием
					li 
						span Вывоз лома 
					li 
						span Бесплатная консультация на месте для максимально точного расчёта
					li 
						span Экспресс-демонтаж и вывоз в сжатые сроки
		.row 
			.col-12.mt-5
				p Вывезти&nbsp;лом и&nbsp;выполнить демонтаж металла компания может в&nbsp;сжатые&nbsp;сроки. Тогда&nbsp;следует заказать&nbsp;экспресс-услугу. 
					| Но есть возможность постепенного разбора конструкции. Во втором случае реально сохранить целостность и форму элементов, которые потом найдут свое применение на производстве. 
					| Прием&nbsp;металла и&nbsp;демонтаж конструкций требуют наличия специальной техники. В&nbsp;«Стандарт» есть все&nbsp;необходимое&nbsp;оборудование. 
					| Операции&nbsp;осуществляются под&nbsp;строгим&nbsp;контролем. При&nbsp;этом любая услуга выполняется&nbsp;оперативно. 
					| Если речь идет о разборке конструкции для дальнейшего использования ее деталей, то она осуществляется не намного дольше.

include components/cta
include components/footer

include components/scripts