include components/header
include components/mixin_first-screen

+first-screen('Услуги')

section.services
	.container
		.row 
			.col-12
				h1.main-heading.mt-4.mb-4.mt-xl-5.mb-xl-5 Сдать металлолом с&nbsp;вывозом, демонтаж и&nbsp;вывоз металла в&nbsp;Москве и&nbsp;Московской области
		.row 
			.col-12
				p 
					picture
						source.w-50.services--img.float-right(type="image/webp" srcset="images/a1.webp")
						source.w-50.services--img.float-right(type="image/jpeg" srcset="images/a1.jpg")
						img.w-50.services--img.float-right(src="images/a1.jpg", alt="", title="")
					| Для того чтобы сдать металлом, не&nbsp;обязательно везти его самостоятельно в&nbsp;пункт приема, у&nbsp;нас можно сделать это с&nbsp;вывозом нашим транспортом! 
					| Мы&nbsp;сделаем все сами: оценка, демонтаж, прием, погрузка и&nbsp;вывоз металлолома черного и&nbsp;цветного металла нашими сотрудниками будет выполнен быстро и&nbsp;по&nbsp;любому адресу. Самовывоз мы&nbsp;осуществляем по&nbsp;всей Москве и&nbsp;Московской области.
					
				p Демонтаж и&nbsp;вывоз металлолома&nbsp;&ndash; востребованная услуга в&nbsp;сфере промышленности и&nbsp;бизнеса. 
					| Она требует высокого профессионализма, ответственности и&nbsp;внимательности. Демонтаж металлолома включает в&nbsp;себя работу с&nbsp;конструкциями любого типа. 
					| В&nbsp;процессе выполнения задачи используется тяжелая техника, поэтому важен опыт оператора, который осуществляет демонтаж и&nbsp;вывоз металла.
				p Компания&nbsp;«Стандарт» готова выполнить задачи любой сложности на&nbsp;«отлично». 
					| Демонтаж&nbsp;металлоконструкций осуществляется нашими специалистами с&nbsp;высокой скоростью и&nbsp;соблюдением требований&nbsp;безопасности. 
					| Каждый&nbsp;сотрудник имеет все&nbsp;необходимые допуски. Работа&nbsp;выполняется качественно и&nbsp;аккуратно. Поэтому&nbsp;в&nbsp;дальнейшем возможна сдача металлолома в&nbsp;пункты&nbsp;приема. 
					| Но,&nbsp;как вариант,&nbsp;какие-то детали можно использовать в&nbsp;производстве.
		.row 
			.col-12
				h3.services--types-heading Виды услуг
			.col-12 
				ol.services--types
					li 
						span Демонтаж&nbsp;любых сооружений с&nbsp;гарантией безопасности
					li 
						span Разбор&nbsp;здания или конструкций для повторного использования деталей&nbsp;предприятием
					li 
						span Вывоз&nbsp;лома 
					li 
						span Бесплатная&nbsp;консультация на&nbsp;месте для&nbsp;максимально точного&nbsp;расчёта
					li 
						span Экспресс-демонтаж и&nbsp;вывоз в&nbsp;сжатые сроки
		.row 
			.col-12.mt-5
				p Вывезти&nbsp;лом и&nbsp;выполнить демонтаж металла компания может в&nbsp;сжатые&nbsp;сроки. Тогда&nbsp;следует заказать&nbsp;экспресс-услугу. 
					| Но&nbsp;есть возможность постепенного разбора конструкции. Во&nbsp;втором случае реально сохранить целостность и&nbsp;форму элементов, которые потом найдут свое применение на&nbsp;производстве. 
					| Прием&nbsp;металла и&nbsp;демонтаж конструкций требуют наличия специальной техники. В&nbsp;«Стандарт» есть все&nbsp;необходимое&nbsp;оборудование. 
					| Операции&nbsp;осуществляются под&nbsp;строгим&nbsp;контролем. При&nbsp;этом любая услуга выполняется&nbsp;оперативно. 
					| Если&nbsp;речь идет о&nbsp;разборке конструкции для&nbsp;дальнейшего использования ее&nbsp;деталей, то&nbsp;она осуществляется не&nbsp;намного&nbsp;дольше.
				p Просто свяжитесь с&nbsp;нами любым удобным способом: через формы и&nbsp;чат на&nbsp;сайте, по&nbsp;телефону и&nbsp;электронной почте, и&nbsp;мы&nbsp;оперативно вывезем весь имеющийся лом. 
					| Мы&nbsp;поможем Вам заработать на&nbsp;том, что доставляет Вам дискомфорт и&nbsp;занимает место на&nbsp;участке или в&nbsp;подсобных помещениях!

include components/cta
include components/footer

include components/scripts