include ../components/header 
include ../components/mixin_first-screen.pug

+first-screen('Прием аккумуляторов')

section.pages
    .container 
        .row 
            .col-12 
                h1 Сдать старый аккумулятор автомобильный: прием аккумуляторов&nbsp;б у, цена в&nbsp;Москве и&nbsp;МО
    .container 
        .row 
            .col-12
                p
                    picture.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0
                        source(type="image/webp", srcset="images/pages/accumulators.webp")
                        source(type="image/webp", srcset="images/pages/accumulators.jpeg")
                        img(src="images/pages/accumulators.jpeg")
                    | У&nbsp;многих автовладельцев в&nbsp;гараже можно найти отработавшую свое аккумуляторную батарею, и&nbsp;мало кто знает, что хранение такого элемента может нанести вред здоровью, поскольку содержащиеся в&nbsp;нем химические соединения (например, серная кислота, свинец, кадмий) являются токсичными. Особенно это вред проявляется при длительном хранении или повреждениях корпуса. Но&nbsp;есть возможность не&nbsp;только избежать вредного влияния на&nbsp;организм, но&nbsp;и&nbsp;заработать на&nbsp;ненужном&nbsp;&mdash; сдать старый аккумулятор автомобильный бу&nbsp;дорого в&nbsp;ООО &laquo;Стандарт&raquo;, которое осуществляет прием аккумуляторов грузовых и&nbsp;легковых авто&nbsp;б у&nbsp;в&nbsp;Москве и&nbsp;МО по&nbsp;цене до&nbsp;52&nbsp;рублей!
                p В&nbsp;нашем прайс-листе указаны следующие типы наиболее часто встречающихся у&nbsp;наших клиентов автомобильных аккумуляторных батарей:
                ol
                    li 
                        span Аккумуляторы гель, полипропилен. Если говорить о&nbsp;гелевых АКБ, то&nbsp;в&nbsp;данных устройствах используются свинцовые пластины высокой очистки и&nbsp;электролит, только электролит здесь не&nbsp;в&nbsp;виде жидкости, а&nbsp;в&nbsp;гелеобразном состоянии, что обеспечивает специальный силиконовый состав. Полипропиленовые&nbsp;же АКБ&nbsp;&mdash; это изделия, в&nbsp;которых также имеются свинцовые пластины, но&nbsp;залит жидкий электролит в&nbsp;мягкий корпус из&nbsp;полипропилена;
                    li 
                        span Аккумуляторы эбонит. Устаревший тип батарей производства стран СНГ и&nbsp;Китая, отличительной чертой тут можно назвать черный корпус, который довольно хрупок.
                    
                p.warning Не&nbsp;забывайте о&nbsp;мерах предосторожности. Перед тем, как перемещать аккумулятор, обязательно осмотрите корпус на&nbsp;наличие повреждений, это поможет Вам избежать опасности, поскольку содержащееся в&nbsp;нем вещество может при протечке вызвать ожоги.
                p ООО &laquo;Стандарт&raquo; выполняет прием не&nbsp;только аккумуляторов б/у, но&nbsp;и&nbsp;лома цветных и&nbsp;черных металлов у&nbsp;физических и&nbsp;юридических лиц в&nbsp;любых объемах. Нашим клиентам мы&nbsp;гарантируем:
                ul 
                    li 
                        span выгодные расценки на&nbsp;металлолом;
                    li 
                        span быструю и&nbsp;профессиональную оценку;
                    li 
                        span выполнение всех обязательств;
                    li 
                        span оперативный демонтаж, погрузку и&nbsp;вывоз по&nbsp;всей Москве и&nbsp;Московской области.
                
                p Для того чтобы уточнить детали, задать вопросы или оценить имеющийся у&nbsp;Вас металлолом, свяжитесь с&nbsp;нашими специалистами любым удобным способом: по&nbsp;телефону, электронной почте, через формы на&nbsp;сайте или через мессенджеры. Для экспресс-оценки нужно будет прикрепить фотографии, которые помогут специалисту максимально точно назвать цену.
                p Будем рады сотрудничеству!

        .row 
            .col-12 
                section.price-list--table
                    include ../tables/table7.pug
            //-
                .row 
                    .col-12 
                        .d-flex.justify-content-center 
                            a.button(href="/price") 
                                span Посмотреть прайс-лист 

include ../components/cta 
include ../components/footer 

include ../components/scripts