include ../components/header 
include ../components/mixin_first-screen.pug

+first-screen('Приём алюминия')

section.pages
    .container 
        .row 
            .col-12 
                h1 Сдать алюминий: пункт приема лома алюминия ООО &laquo;Стандарт&raquo;, цена за&nbsp;1&nbsp;кг в&nbsp;Москве и&nbsp;МО
    .container 
        .row 
            .col-12
                p
                    picture
                        source.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(type="image/webp", srcset="images/pages/aluminium.webp")
                        source.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(type="image/webp", srcset="images/pages/aluminium.jpeg")
                        img.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(src="images/pages/aluminium.jpeg")
                    | Алюминий пользуется большим спросом на&nbsp;рынке вторсырья из-за востребованности в&nbsp;промышленной индустрии. Сдать алюминий дорого Вам поможет ООО Стандарт&nbsp;&mdash; пункт приема лома алюминия, где цена за&nbsp;1&nbsp;кг в&nbsp;Москве и&nbsp;МО&nbsp;&mdash; до&nbsp;105&nbsp;рублей! Для того чтобы узнать, сколько стоит имеющийся у&nbsp;Вас алюминий, можете воспользоваться экспресс-оценкой или ознакомиться с&nbsp;прайс-листом на&nbsp;данный вид металлолома. Какой&nbsp;же бываем лом алюминия? В&nbsp;нашем прайс-листе выделены следующие типы:
                ol
                    li 
                        span 1-1, электротехнический, называют этот тип часто еще &laquo;Электротех&raquo;. Это различные кабели и&nbsp;провода, очищенные механическим способом от&nbsp;лакокрасочных покрытий и&nbsp;прочих загрязнений, наконечников, оплетки и&nbsp;клемм. Недопустимы неметаллические включение, возможны остатки масла и&nbsp;небольшие затемнения;
                    li 
                        span 1-1, пищевой или бытовой. Алюминиевый лом, не&nbsp;имеющий в&nbsp;составе примеси железа, а&nbsp;также пластика, бумаги и&nbsp;покрытия из&nbsp;тефлона. Сюда относят бытовые предметы, изготовленные методами гибки и&nbsp;давления, но&nbsp;не&nbsp;отливки, это&nbsp;&mdash; разнообразная посуда, столовые приоры, предметы интерьера и&nbsp;домашнего хозяйства. Пищевой алюминиевый лом не&nbsp;должен содержать железо, дерево, бумагу и&nbsp;тефлон, также нужно удалить крепеж и&nbsp;пластик;
                    li 
                        span АД-31. Чистый профиль из&nbsp;сплавов марки&nbsp;АД, без загрязнений и&nbsp;элементов из&nbsp;пластика, дерева и&nbsp;т.&nbsp;д.;
                    li 
                        span АД-31, профиль грязный. Возможны следы краски, но&nbsp;исключены любые составляющие, например, никаких деревянные или пластиковые ручки и&nbsp;крепеж;
                    li 
                        span Опалубка. Опалубочные конструкции для монолитного строительства, засор в&nbsp;данной категории определяется по&nbsp;факту;
                    li 
                        span Автомобильные алюминиевые диски;
                    li 
                        span Алюминиевая банка;
                    li 
                        span Лом разносортный. Это металлолом, содержащий в&nbsp;своем составе алюминий. Сюда можно отнести любые предметы за&nbsp;исключением имеющих в&nbsp;своем сплаве цинк. Возможны остатки пластика и&nbsp;железа, но&nbsp;что их&nbsp;масса не&nbsp;должна превышать&nbsp;5% от&nbsp;общего веса.
                    li 
                        span Алюминий моторка&nbsp;&mdash; детали с&nbsp;корпусов автомобильных двигателей;
                    li 
                        span Радиаторы отопления;
                    li 
                        span Алюминиевая стружка&nbsp;&mdash; засор от&nbsp;5%;
                    li 
                        span Электродвигатели с&nbsp;корпусом из&nbsp;алюминия;
                    li 
                        span Электродвигатели с&nbsp;чугунным корпусом.
                p Прием лома алюминия, так&nbsp;же как и&nbsp;прочего металлолома, ООО &laquo;Стандарт&raquo;, благодаря работе напрямую с&nbsp;металл перерабатывающими заводами, производит на&nbsp;привлекательных для Вас условиях. Сдавать нам металлолом удобно и&nbsp;выгодно, поскольку&nbsp;мы:
                ul 
                    li 
                        span осуществляем прием и&nbsp;вывоз по&nbsp;всей Москве и&nbsp;Московской области;
                    li 
                        span предлагаем весь возможный комплекс услуг&nbsp;&mdash; от&nbsp;демонтажа до&nbsp;перевозки;
                    li 
                        span выполняем все взятые на&nbsp;себя обязательства быстро и&nbsp;точно;
                    li 
                        span покупаем металлолом дорого и&nbsp;в&nbsp;любом виде.
                p Если Вы&nbsp;хотите сдать лом алюминия или прочих цветных и&nbsp;черных металлов, то&nbsp;сделайте это без хлопот, свяжитесь с&nbsp;нами любым удобным способом: по&nbsp;телефону, через формы на&nbsp;сайте или мессенджеры. Также Вы&nbsp;можете написать нам с&nbsp;приложением фото лома для экспресс-оценки.
                p Будем рады сотрудничеству!
        .row 
            .col-12 
                section.price-list--table
                    include ../tables/table3.pug
        //-        
            .row 
                .col-12 
                    .d-flex.justify-content-center 
                        a.button(href="/price") 
                            span Посмотреть прайс-лист 

include ../components/cta 
include ../components/footer 

include ../components/scripts