include ../components/header 
include ../components/mixin_first-screen.pug

+first-screen('Прием латуни')

section.pages
    .container 
        .row 
            .col-12 
                h1 Сдать латунь: пункт приема лома латуни, цена за&nbsp;1&nbsp;кг в&nbsp;Москве и&nbsp;МО
    .container 
        .row 
            .col-12
                p
                    picture.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0
                        source(type="image/webp", srcset="images/pages/brass.webp")
                        source(type="image/webp", srcset="images/pages/brass.jpeg")
                        img(src="images/pages/brass.jpeg")
                    | Латунь является двойным сплавом на&nbsp;основе цинка и&nbsp;меди с&nbsp;возможным включением, наряду с&nbsp;базовыми компонентами, и&nbsp;других металлов (олова, марганца, алюминия, кремния, свинца). Латунный лом&nbsp;&mdash; это довольно востребованное вторсырье в&nbsp;промышленности, поскольку после переработки становится материалом для производства различных деталей и&nbsp;элементов, устойчивых к&nbsp;воздействию температур и&nbsp;коррозии.
                p Если Вы&nbsp;хотите сдать латунь дорого, то&nbsp;в&nbsp;этом Вам поможет ООО &laquo;Стандарт&raquo;&nbsp;&mdash; пункт приема лома латуни, где цена за&nbsp;1&nbsp;кг в&nbsp;Москве и&nbsp;МО&nbsp;&mdash; до&nbsp;210&nbsp;рублей! Мы&nbsp;осуществляем прием лома латуни в&nbsp;любых объемах, и&nbsp;в&nbsp;нашем прайс-листе есть следующие категории для данного цветного металла:
                ol
                    li 
                        span Латунь. Чистое сырье с&nbsp;минимальным загрязнением, как правило, это&nbsp;&mdash; различные латунные трубки, элементы сантехники, детали или части деталей, с&nbsp;возможным наличием следов термообработки, полуда и&nbsp;лакокрасочного покрытия;
                    li 
                        span Латунная стружка&nbsp;&mdash; остатки от&nbsp;производства труб, сантехнических изделий, проволоки, радиаторов, имеет вьюнообразную или сыпучую текстуру без включения посторонних текстур;
                    li 
                        span Радиаторы медь/латунь&nbsp;&mdash; теплообменники, используемые в&nbsp;автомобилях и&nbsp;сельхоз технике.
                p ООО &laquo;Стандарт&raquo; выполняет прием лома цветных и&nbsp;черных металлов у&nbsp;физических и&nbsp;юридических лиц в&nbsp;любых объемах. При сотрудничестве с&nbsp;нами Вам гарантированы:
                ul 
                    li 
                        span выгодные расценки на&nbsp;металлолом, благодаря работе напрямую с&nbsp;предприятиями по&nbsp;переработке металлов;
                    li 
                        span оперативная оценка от&nbsp;профессиональных экспертов;
                    li 
                        span соблюдение всех договоренностей и&nbsp;выполнение обязательств;
                    li 
                        span быстрый демонтаж, погрузка и&nbsp;вывоз по&nbsp;всей Москве и&nbsp;Московской области.
                p Для получения подробной информации, уточнения деталей или проведения оценки имеющегося у&nbsp;Вас металлолома, свяжитесь с&nbsp;нашими специалистами любым удобным способом: через формы на&nbsp;сайте, по&nbsp;телефону, электронной почте или через мессенджеры. Для экспресс-оценки нужно будет прикрепить фотографии, они помогут максимально точно назвать цену.
                p Будем рады плодотворному сотрудничеству!

        .row 
            .col-12 
                section.price-list--table
                    include ../tables/table2.pug
        //-
            .row 
                .col-12 
                    .d-flex.justify-content-center 
                        a.button(href="/price") 
                            span Посмотреть прайс-лист 

include ../components/cta 
include ../components/footer 

include ../components/scripts