include ../components/header 
include ../components/mixin_first-screen.pug

+first-screen('Прием кабеля')

section.pages
    .container 
        .row 
            .col-12 
                h1 Сдать кабель&nbsp;бу: прием лома медного кабеля в&nbsp;изоляции, цена за&nbsp;1&nbsp;кг в&nbsp;Москве и&nbsp;МО
    .container 
        .row 
            .col-12
                p
                    picture
                        source.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(type="image/webp", srcset="images/pages/cables.webp")
                        source.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(type="image/webp", srcset="images/pages/cables.jpeg")
                        img.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(src="images/pages/cables.jpeg")
                    | Любая электросеть имеет свой срок эксплуатации, после чего приходит в&nbsp;негодность и&nbsp;подлежит демонтажу. Кабельный металлолом&nbsp;&mdash; это отслуживший свое элемент электросети, который является ликвидным вторичным сырьем, поскольку из&nbsp;него можно извлечь ценные цветные металлы. Реализация кабеля б/у в&nbsp;пункты прима&nbsp;&mdash; это хорошая возможность для организаций и&nbsp;частных мастеров извлечь выгоду из&nbsp;демонтированных электросетей сетей, а&nbsp;также из&nbsp;монтажных отходов.
                p Сдать кабель бу&nbsp;дорого Вам поможет ООО &laquo;Стандарт&raquo;, которое осуществляет прием лома самого различного кабеля, в&nbsp;том числе медного кабеля в&nbsp;изоляции, цены при этом за&nbsp;1&nbsp;кг в&nbsp;Москве и&nbsp;МО довольно привлекательны&nbsp;&mdash; до&nbsp;370&nbsp;рублей!
                p Одним из&nbsp;самых простых способов классифицировать кабели&nbsp;&mdash; это по&nbsp;виду металла, который был использован для его изготовления. Но&nbsp;на&nbsp;самом деле сегодня существует большое количество марок, которые различаются не&nbsp;только по&nbsp;назначению или количеству жил, но&nbsp;и&nbsp;по&nbsp;внутренней конструкции, изоляции и&nbsp;условиями эксплуатации. Если&nbsp;же говорить о&nbsp;назначении, то&nbsp;здесь можно выделить:
                ul
                    li 
                        span силовые и&nbsp;монтажные&nbsp;&mdash; наиболее ценный лом из-за высокого содержания цветных металлов и&nbsp;большого диаметра жил;
                    li 
                        span обмоточные&nbsp;&mdash; в&nbsp;качестве изоляции выступает лишь слой эмали;
                    li 
                        span контрольные и&nbsp;телефонные&nbsp;&mdash; трудно поддаются чистке оболочки, а&nbsp;жилы в&nbsp;них довольно тонкие;
                    li
                        span неизолированный провод&nbsp;&mdash; количество жил такой магистрали составляет до&nbsp;пяти единиц.
                    
                p Сдать кабель и&nbsp;провода в&nbsp;ООО &laquo;Стандарт&raquo; можно с&nbsp;изоляцией и&nbsp;оплеткой из&nbsp;различных материалов, для очистки наш пункт приема оборудован специальными станками. Цена такого металлолома будет ниже, зато подготовка к&nbsp;сдаче не&nbsp;займет много сил и&nbsp;времени, тем более что разделка в&nbsp;домашних условиях механическим способом или обжигом может ухудшить качество металла и&nbsp;привести к&nbsp;потерям в&nbsp;весе.
                p ООО &laquo;Стандарт&raquo; выполняет прием лома цветных и&nbsp;черных металлов юридических и&nbsp;физических лиц в&nbsp;любых объемах. Нашим клиентам мы&nbsp;гарантируем:
                ul 
                    li 
                        span выгодные расценки на&nbsp;металлолом;
                    li 
                        span оперативную и&nbsp;профессиональную оценку;
                    li 
                        span соблюдение договоренностей;
                    li 
                        span быстрый демонтаж, погрузка и&nbsp;вывоз по&nbsp;всей Москве и&nbsp;Московской области.
                
                p Для уточнения деталей или проведения оценки имеющегося у&nbsp;Вас лома металлов, свяжитесь с&nbsp;нами любым удобным способом: по&nbsp;телефону, электронной почте, через мессенджеры или формы на&nbsp;сайте. Для экспресс-оценки нужно будет прикрепить фотографии, они помогут для максимально точного определения цены.
                p Работать с&nbsp;нами выгодно и&nbsp;удобно!
        .row 
            .col-12 
                section.price-list--table
                    include ../tables/table6.pug
        //-
            .row 
                .col-12 
                    .d-flex.justify-content-center 
                        a.button(href="/price") 
                            span Посмотреть прайс-лист 

include ../components/cta 
include ../components/footer 

include ../components/scripts