include ../components/header 
include ../components/mixin_first-screen.pug

+first-screen('Приём меди')

section.pages
    .container 
        .row 
            .col-12 
                h1 Пункт приема меди ООО &laquo;Стандарт&raquo;: сдать лом меди, цена за&nbsp;1&nbsp;кг в&nbsp;Москве и&nbsp;МО
    .container 
        .row 
            .col-12
                p
                    picture
                        source.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(type="image/webp", srcset="images/pages/cuprum.webp")
                        source.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(type="image/webp", srcset="images/pages/cuprum.jpeg")
                        img.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(src="images/pages/cuprum.jpeg")
                    | ООО &laquo;Стандарт&raquo;&nbsp;&mdash; это пункт приема меди, где можно сдать лом меди в&nbsp;Москве и&nbsp;МО дорого, ведь здесь цена за&nbsp;1&nbsp;кг&nbsp;&mdash; до&nbsp;360&nbsp;рублей!
                p Такой металла, как медь, на&nbsp;рынке вторсырья относятся к&nbsp;числу наиболее дорогостоящих и&nbsp;востребованных продуктов, именно поэтому лом меди в&nbsp;нашем пункте приема можно сдать за&nbsp;очень выгодную цену. Если говорить об&nbsp;оценке лома, то&nbsp;она осуществляется по&nbsp;установленным стандартам, и&nbsp;стоимость меди здесь будет зависеть от&nbsp;процентного содержания металла и&nbsp;наличия примесей. Здесь можно выделить несколько типов, указанных в&nbsp;нашем прайс-листе:
                ol
                    li 
                        span А1-1 (блеск). Поскольку такой металлом имеет содержание меди от&nbsp;99,5&nbsp;%, после переплавки полностью сохраняет свойства, оценивается он&nbsp;дороже прочих. Отличает его визуально яркий и&nbsp;насыщенный цвет, а&nbsp;также характерный блеск. Относят сюда электротехническую медь, очищенную от&nbsp;изоляции и&nbsp;загрязнений, а&nbsp;также без следов пайки и&nbsp;полуды, например, проволока, кабели и&nbsp;провода;
                    li 
                        span Шина. Медная часть силовых установок, трансформаторов и&nbsp;распределительных шкафов без покрытия или изоляции;
                    li 
                        span А1-2 (кусок). Лом и&nbsp;отходы чистой меди: брак литых, кованых и&nbsp;штампованных изделий, обрезь, высечка листов, лент, труб, решеток и&nbsp;проволоки без изоляции. Допускаются остатки изоляции после обжига, железные приделки на&nbsp;концах, покрытие лаком, эмалью;
                    li 
                        span Разносортная или микс. Это тип цветного металлолома, состоящий по&nbsp;большей части из&nbsp;меди. Такой лом может быть в&nbsp;различном состоянии, любых форм и&nbsp;размеров. Здесь допустима небольшая коррозия и&nbsp;окись, но&nbsp;примеси&nbsp;&mdash; не&nbsp;больше&nbsp;50% от&nbsp;общей массы и&nbsp;загрязнений типа краски, лаковых покрытий. В&nbsp;эту категорию попадают все бытовые изделия из&nbsp;меди: лампы и&nbsp;элементы приборов нагрева, газовых колонок, трубки, провода, батареи, а&nbsp;также луженая медь;
                    li 
                        span Радиаторы медь/латунь. Это батареи отопления с&nbsp;пластинками из&nbsp;меди, содержащие в&nbsp;своей конструкции латунные трубки, но&nbsp;без примеси черных металлов;
                    li 
                        span Бронза. Выделают кусковую, микс и&nbsp;стружку. В&nbsp;этой металлолом-категории могут быть: автомобильные запчасти и&nbsp;детали, сантехника и&nbsp;комплектующие к&nbsp;трубопроводным системам, кабели и&nbsp;провода, декоративные изделия, отходы производства, посуда и&nbsp;бытовые изделия.
                p Прием меди, так&nbsp;же как и&nbsp;прочего металлолома, нашей компанией происходит на&nbsp;условиях, выгодных каждому клиенту. Ознакомиться с&nbsp;ценой за&nbsp;1&nbsp;кг на&nbsp;приемку лома меди можно в&nbsp;прайс-листе на&nbsp;нашем сайте. Сотрудничать с&nbsp;нами удобно, так как&nbsp;мы:
                ul 
                    li 
                        span работаем по&nbsp;всей Москве и&nbsp;Московской области;
                    li 
                        span предлагаем полный комплекс услуг&nbsp;&mdash; от&nbsp;демонтажа до&nbsp;транспортировки;
                    li 
                        span выполняем все взятые на&nbsp;себя обязательства быстро и&nbsp;точно;
                    li 
                        span покупаем металлолом по&nbsp;выгодным для клиентов ценам.
                p Если Вы&nbsp;хотите дорого сдать лом черных и&nbsp;цветных металлов, не&nbsp;откладывайте это на&nbsp;потом, свяжитесь с&nbsp;нами любым удобным способом: по&nbsp;телефону, через формы на&nbsp;сайте или мессенджеры. Также Вы&nbsp;можете написать нам с&nbsp;приложением фото лома для экспресс-оценки.
                p Будем рады сотрудничеству!
        .row 
            .col-12 
                section.price-list--table
                    include ../tables/table2.pug
        //-
            .row 
                .col-12 
                    .d-flex.justify-content-center 
                        a.button(href="/price") 
                            span Посмотреть прайс-лист 

include ../components/cta 
include ../components/footer 

include ../components/scripts