include ../components/header 
include ../components/mixin_first-screen.pug

+first-screen('Прием свинца')

section.pages
    .container 
        .row 
            .col-12 
                h1 Сдать свинец: пункт приема лома свинца, цена за&nbsp;1&nbsp;кг в&nbsp;Москве и&nbsp;МО
    .container 
        .row 
            .col-12
                p
                    picture.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0
                        source(type="image/webp", srcset="images/pages/plumbum.webp")
                        source(type="image/webp", srcset="images/pages/plumbum.jpeg")
                        img(src="images/pages/plumbum.jpeg")
                    | Лом свинца&nbsp;&mdash; это вторичное сырье, спрос на&nbsp;который постоянно растет. Обусловлено это тем, что у&nbsp;этого тяжелого цветного металла очень высокая устойчивость не&nbsp;только к&nbsp;воздействию окружающей среды (воды, воздуха), но&nbsp;и&nbsp;к&nbsp;радиационному излучению. Помимо этого, свинец способен обеспечить высокую герметичность, и&nbsp;поддается сварке при невысоких температурных значениях, что позволяет даже добиваться высокого качества соединения деталей. Благодаря этому свинец применяется для изготовления защитных деталей и&nbsp;компонентов оборудования, например, для кабелей, аккумуляторов и&nbsp;кислотных батарей, военной и&nbsp;медицинской техники, атомных установок. Также без этого металла невозможно производство огнестрельного оружия и&nbsp;пуль.
                p Сдать свинец дорого Вам поможет ООО &laquo;Стандарт&raquo;&nbsp;&mdash; пункт приема лома свинца, где цена за&nbsp;1&nbsp;кг в&nbsp;Москве и&nbsp;МО&nbsp;&mdash; до&nbsp;210&nbsp;рублей!
                ol
                    li 
                        span Оболочка кабеля, чистый металл. У&nbsp;большинства кабелей свинцовая оплетка, которая и&nbsp;попадает в&nbsp;данную категорию. Оплетка должна быть разделана механическим способом, удалены гудрон, резина и&nbsp;бумага, но&nbsp;на&nbsp;ней допустимы минимальные загрязнения;
                    li 
                        span Переплав. Очищенный от&nbsp;посторонних элементов и&nbsp;переплавленный в&nbsp;любую форму свинец;
                    li 
                        span Грузики. Используемые в&nbsp;шиномонтаже для балансировки колес элементы.
                p ООО &laquo;Стандарт&raquo; осуществляет прием черных и&nbsp;цветных металлов, как у&nbsp;физических, так и&nbsp;у&nbsp;юридических лиц, мы&nbsp;имеем лицензию и&nbsp;полный комплект документов, необходимых для работы в&nbsp;данной сфере. Сдавать нам металлолом выгодно и&nbsp;комфортно, поскольку&nbsp;мы:
                ul 
                    li 
                        span работаем напрямую с&nbsp;металл перерабатывающими предприятиями;
                    li 
                        span проводим экспертную экспресс-оценку;
                    li 
                        span осуществляем прием и&nbsp;вывоз по&nbsp;всей Москве и&nbsp;Московской области;
                    li 
                        span предлагаем весь возможный комплекс услуг&nbsp;&mdash; от&nbsp;демонтажа до&nbsp;перевозки;
                    li 
                        span выполняем все взятые на&nbsp;себя обязательства быстро и&nbsp;точно;
                    li 
                        span покупаем металлолом дорого и&nbsp;в&nbsp;любом виде.

                p Если Вы&nbsp;хотите сдать лом свинца или прочих цветных и&nbsp;черных металлов, то&nbsp;сделайте это максимально удобно и&nbsp;быстро, свяжитесь с&nbsp;нами любым способом: по&nbsp;телефону, через электронную почту, формы на&nbsp;сайте или мессенджеры, и&nbsp;мы&nbsp;быстро оценим и&nbsp;вывезем весь имеющийся металлолом.
                p Сотрудничество с&nbsp;нами&nbsp;&mdash; это выгодно!

        .row 
            .col-12 
                section.price-list--table
                    include ../tables/table4.pug
        //-
            .row 
                .col-12 
                    .d-flex.justify-content-center 
                        a.button(href="/price") 
                            span Посмотреть прайс-лист 

include ../components/cta 
include ../components/footer 

include ../components/scripts