include ../components/header 
include ../components/mixin_first-screen.pug

+first-screen('Прием нержавейки')

section.pages
    .container 
        .row 
            .col-12 
                h1 Сдать нержавейку: пункт приема лома нержавейки, цена за&nbsp;1&nbsp;кг (Москва и&nbsp;МО)
    .container 
        .row 
            .col-12
                p
                    picture.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0
                        source(type="image/webp", srcset="images/pages/accumulators.webp")
                        source(type="image/webp", srcset="images/pages/accumulators.jpeg")
                        img(src="images/pages/accumulators.jpeg")
                    | Одной из&nbsp;разновидностей легированной стали, способной противостоять агрессивному воздействию среды и&nbsp;образованию коррозии из-за включения в&nbsp;состав примесей, является нержавейка. Основной добавкой здесь выступает химический элемент хром, процентное соотношение которого может доходить до&nbsp;25%. Несмотря на&nbsp;хорошую защиту от&nbsp;пагубного влияния от&nbsp;агрессивных сред, изделия из&nbsp;данного материала все равно портятся и&nbsp;перестают быть полезными, лишь бесполезно занимая место.
                p Решение, которое поможет Вам избавиться от&nbsp;ненужного и&nbsp;заработать на&nbsp;этом есть: нужно просто сдать нержавейку, и&nbsp;сделать это дорого Вам поможет ООО &laquo;Стандарт&raquo;&nbsp;&mdash; пункт приема лома нержавейки, где цена в&nbsp;Москве и&nbsp;МО за&nbsp;1&nbsp;кг&nbsp;&mdash; до&nbsp;60&nbsp;рублей!
                p Наиболее распространены изделия с&nbsp;содержанием никеля в&nbsp;пределах:
                ul
                    li 
                        span 9,3&nbsp;&mdash; 11,0&nbsp;% (НС&nbsp;10&nbsp;%). Может быть габаритная и&nbsp;негабаритная. Самый дорогостоящий лом, и&nbsp;это&nbsp;&mdash; обрезки, пластины, различные кухонные принадлежности, в&nbsp;том числе и&nbsp;противни;
                    li 
                        span 9,0&nbsp;&mdash; 9,2&nbsp;% (НС&nbsp;9&nbsp;%) В&nbsp;эту категорию включен промышленный прокат, а&nbsp;также детали кухонных столов и&nbsp;кофе-машин;
                    li 
                        span 8,0&nbsp;&mdash; 9,0&nbsp;% (НС&nbsp;8&nbsp;%) отходы производства, детали авто, в&nbsp;частности&nbsp;&mdash; турбины;
                    li
                        span 7,0. Самый дешевый тип, чаще всего из&nbsp;него производят стройматериалы.
                    
                p Мы&nbsp;принимаем нержавейку в&nbsp;любом виде, и&nbsp;если говорить об&nbsp;изделиях, то&nbsp;это могут быть: кусковой лом (листовой и&nbsp;сортовой прокат), профили, сантехническая продукция (трубы, патрубки, краны), радиаторы, медицинские инструменты, части промышленного оборудования, металлоконструкции, различные бытовые емкости (ванны, раковины).
                p ООО &laquo;Стандарт&raquo; выполняет прием лома не&nbsp;только нержавейки, но&nbsp;и&nbsp;других цветных и&nbsp;черных металлов юридических и&nbsp;физических лиц в&nbsp;любых объемах. Мы&nbsp;имеем весь необходимый пакет документов для работы с&nbsp;металлоломом и&nbsp;сотрудничаем напрямую с&nbsp;предприятиями по&nbsp;переработке металлов. Нашим клиентам мы&nbsp;гарантируем:
                ul 
                    li 
                        span выгодные расценки на&nbsp;металлолом;
                    li 
                        span оперативную экспертную оценку от&nbsp;профессионалов;
                    li 
                        span выполнение всех обязательств и&nbsp;соблюдение договоренностей;
                    li 
                        span быстрый демонтаж, погрузка и&nbsp;вывоз по&nbsp;всей Москве и&nbsp;Московской области.
                
                p Для уточнения деталей или проведения оценки имеющегося у&nbsp;Вас лома металлов, свяжитесь с&nbsp;нашими специалистами любым удобным способом: через формы на&nbsp;сайте, по&nbsp;телефону, электронной почте или через мессенджеры. Для экспресс-оценки нужно будет прикрепить фотографии, они помогут для максимально точного определения стоимости металлолома.
                p Работать с&nbsp;нами выгодно и&nbsp;удобно!

        .row 
            .col-12 
                section.price-list--table
                    include ../tables/table5.pug
        //-
            .row 
                .col-12 
                    .d-flex.justify-content-center 
                        a.button(href="/price") 
                            span Посмотреть прайс-лист 

include ../components/cta 
include ../components/footer 

include ../components/scripts