include ../components/header 
include ../components/mixin_first-screen.pug

+first-screen('Прием автомобилей')

section.pages
    .container 
        .row 
            .col-12 
                h1 Сдать машину: прием автомобилей на&nbsp;металлолом, цена в&nbsp;Москве и&nbsp;МО
    .container 
        .row 
            .col-12
                p
                    picture
                        source.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(type="image/webp", srcset="images/pages/vehicle.webp")
                        source.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(type="image/webp", srcset="images/pages/vehicle.jpeg")
                        img.float-right.w-50.d-none.d-md-block.ml-md-3.mb-md-2.ml-0.mb-0(src="images/pages/vehicle.jpeg")
                    | Отслужившие свое транспортные средства еще могут принести выгоду своему владельцу, спросите как? Все очень просто: можно сдать авто на&nbsp;металлолом, и&nbsp;часто бывает так, что в&nbsp;данном техническом состоянии автомобиль действительно выгодней сдать на&nbsp;чермет, чем продать или починить. Сдать машину&nbsp;Вы можете в&nbsp;ООО &laquo;Стандарт&raquo;, где на&nbsp;прием автомобилей на&nbsp;металлолом в&nbsp;Москве и&nbsp;МО выгодная цена&nbsp;&mdash; до&nbsp;14000 рублей за&nbsp;тонну. Как&nbsp;же можно это сделать и&nbsp;что для этого нужно?
                p Чтобы сдать автомобиль на&nbsp;лом, нужно снять его с&nbsp;регистрации в&nbsp;ГИБДД, это можно сделать как самостоятельно, так и&nbsp;обратившись к&nbsp;специалистам. Для утилизации необходимы следующие документы:
                ul
                    li 
                        span паспорт владельца или доверенность от&nbsp;собственника;
                    li 
                        span свидетельство о&nbsp;регистрации авто;
                    li 
                        span государственный регистрационный номер&nbsp;ТС;
                    li
                        span заявление о&nbsp;снятии автомобиля с&nbsp;учета;
                    li 
                        span квитанция об&nbsp;оплате госпошлины.
                    
                p При наличии этого пакета документов цена за&nbsp;автолом будет выше. Еще стоимость возрастет при наличии проводки, двигателя, аккумулятора и&nbsp;прочих элементов, отделенных от&nbsp;кузова, а&nbsp;также отсутствия обивки стекол и&nbsp;прочих неметаллических деталей.
                p ООО &laquo;Стандарт&raquo; выполняет прием лома цветных и&nbsp;черных металлов юридических и&nbsp;физических лиц в&nbsp;любых объемах. Для того, чтобы прием авто на&nbsp;металлолом был максимально комфортен для Вас, у&nbsp;нас есть:
                ul 
                    li 
                        span прием всех категорий авто, в&nbsp;том числе и&nbsp;спецтехники, а&nbsp;также в&nbsp;любом виде, даже обгоревших и&nbsp;в&nbsp;сильной коррозии;
                    li 
                        span выгодные расценки на&nbsp;металлолом;
                    li 
                        span соблюдение договоренностей;
                    li 
                        span быстрый демонтаж, погрузка и&nbsp;вывоз по&nbsp;всей Москве и&nbsp;Московской области.
                
                p Мы&nbsp;поможем Вам заработать на&nbsp;ненужных вещах!
        .row 
            .col-12 
                section.price-list--table
                    include ../tables/table1.pug
        //-
            .row 
                .col-12 
                    .d-flex.justify-content-center 
                        a.button(href="/price") 
                            span Посмотреть прайс-лист 

include ../components/cta 
include ../components/footer 

include ../components/scripts